/* Use this file to optionally override global css styles and use with caution. */
/* See README.md for hints and examples: https://github.com/AOEpeople/aoe_technology_radar/ */

#glow-1,
#glow-4 {
    stop:first-of-type {
        stop-color: #373A36;
    }

    stop:last-of-type {
        stop-color: #373A36;
    }

    path {
        stroke: #373A36
    }
}

#glow-2,
#glow-3 {
    stop:first-of-type {
        stop-color: #898A8D;
    }

    stop:last-of-type {
        stop-color: #898A8D;
    }
}

g[data-quadrant] path {
    stroke: #979797;
}